<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Announcement</title>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-family: 'Poppins', sans-serif;
            overflow-x: hidden;
        }

        body {
            font-family: Arial, sans-serif;
            background-color: #ffffff;
            color: #fff;
            padding-top: 80px;
        }

    </style>
</head>

<body>
    
    <div th:replace="~{fragments/header :: header}"></div>
    <div th:replace="~{fragments/sidebar :: sidebar}"></div>

    <main>
    



    </main>

    <div th:replace="~{fragments/footer :: footer}"></div>
        
</body>
</html>